<div class="favorit">
    <app-lieu-component  idLieu ="02devlop2022"></app-lieu-component>
    <app-lieu-component></app-lieu-component>
    <app-lieu-component></app-lieu-component>
    <app-lieu-component></app-lieu-component>
    <app-lieu-component></app-lieu-component>
    <app-lieu-component></app-lieu-component>
    <app-lieu-component></app-lieu-component>
    <app-lieu-component></app-lieu-component>
    <app-lieu-component></app-lieu-component>
    <app-lieu-component></app-lieu-component>
</div>

